@import '../../styles/common';

.wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"title top"
		"comments top";
}

.title {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "P I";
	gap: 10px;
	.titleP {
		grid-area: P;

	}
	.titleI {
		grid-area: I;
	}
}

.top {
	grid-area: top;
}
.comments {
	grid-area: comments;
}